.jumbotron {
    width: 100vw;
    height: auto;
    background-image: url("https://lh3.googleusercontent.com/proxy/jeRn2h9Vhp_Iu4gHJX-ubCTxpDDEL5F4hC8ILjowdoFjGj88ufQL66VFqmPKW8UEncq-xH4-vdy4szU3CbarC1JUKtUGFYEn3qvYOxdNFqE");
}