.navbar{
    background: rgba(89, 24, 17, 0.851);
    color:white;
    padding-top:10px;
    padding-bottom:10px;
   
}

.navbar-brand, .nav-link, .navbar-brand:hover, .nav-link:hover{
    color:white;
}