#search{
  width: 50%;
  margin-top: 20px;
}

#search:focus, #search:active{
    box-shadow: none !important; 
}

#searchForm{
  display:block;
  text-align: center;
  padding-bottom: 20px;
}

#searchBtn{
  background-color: rgba(89, 24, 17, 0.851);
  border: rgba(89, 24, 17, 0.851);
  margin-top: 20px;
}

#searchBtn:hover{
  background-color: rgba(89, 24, 17, 0.591);
  border: rgba(89, 24, 17, 0.851);
}

#searchBtn:focus{
  outline:none !important;
  box-shadow: none !important;
}

#searchBtn:active{
  background-color: rgba(89, 24, 17, 0.591);
}

@media only screen and (max-width: 600px) {
  #search {
    width: 90%;
    display:inline-block;
  }
}